* {
    margin: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.title {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.text {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #C4C4C4;
    padding: 4px 15px 4px 15px;
    max-width: 100%;
}

.subheading {
    font-weight: 700;
}

/* Logo that will follow be fixed */
.header {
    border-style: solid;
    border-width: 0 0 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 2px 5px;
    justify-content: space-evenly;
}

.logo {
    max-height: auto;
    max-width: 250px;
}

.logo img {
    width: 100%;
    height: auto;
}

.header #menu {
    grid-area: menu;
    height: 30px;
    width: 30px;
    padding-right: 5px;
    position: absolute;
    right: 5px;
}

/* All the content down bellow */

.grid {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: auto;
    grid-template-areas: "section1"
                        "section2"
                        "section3"
                        "footer";
    background-color: #F2F2F2;
}

/* first section */

.section1 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "intro_text"
                         "image";
    
    padding: 20px;
    grid-area: section1;
}

#image {
    width: 100%;
    grid-area: image;
    padding: 20px 0 0 0;
}
.devider2 {
    grid-area: intro_text;
}

/* Section two of the page. Services */

.section2 {
    grid-area: section2;
    grid-template-rows: repeat(4, 100vw);
    grid-template-columns: auto;
    grid-template-areas: "box1"
                         "box2"
                         "box3"
                         "box4";
    padding: 20px;
    background-color: #e3e3e3;
}

.textbox1 {
    border-width: 1px 0 0 0;
    grid-area: box1;
}

.slide_show {
    margin: 20px;
    width: auto;
    height: 150px;

    grid-area: box4;
}

.slide {
    height: 100%;
    padding: 4px 15px 4px 15px;
}



/* Section three of the page. Contact us */

.section3 {
    padding: 20px;
    background-color: #F2F2F2;
    
}

#devider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-area: form;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputarea {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #2D9026;
    color: #2D9026;
    width: 80%;
    padding: 20px 5px 5px 5px;
}

.inputarea::placeholder{
    color: #2D9026;
  }

.button {
    border-style: none;
    color: white;
    background-color: #2D9026;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    margin-top: 20px;
    text-transform: uppercase;
}

.button:hover {
    background: #184F15;
}

.button:active {
    background: #184F15;
    top: 2px;
}

.button:focus {
    position: relative;
}

.slogo {
    background-color: #333333;
    color: white;
    padding: 5px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.infotitle {
    grid-area: infotitle;
}

.infobox {
    grid-area: infobox;
}


/* Section four of the page. Footer */

.section4 {
    grid-area: footer;
    background-color: #333333;
}

.footer-header {
    background-color:  #333333;
    padding: 20 0 0 0;
}

.contact {
    color: white;
    margin: 20px;
}

.contact2 {
    border-style: solid;
    border-width: 0 0 1px 0;
}

.smalltext {
    padding: 0 20px 20px 0;
}

