

/* responosve design för 

360×640
1366×768
1920×1080
768×1024 */


@media screen and (min-width: 768px) {

    .title {
        font-size: 50px;
    }
    
    .text {
        border-width: 2px 0 2px 0;
        border-color: #C4C4C4;
        padding: 4px 15px 4px 15px;
        max-width: 100%;
        font-size: 24px;
    }
    
    /* Section2 */
    
    #boxes {
        display: flex;
        flex-direction: row;
    }
    
    .textbox2 {
        border-width: 0 0 2px 0;
    }
    
    #spacebox {
        padding-right: 10px;
    }
    
/* section 3 */


#devider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    grid-template-areas: "infobox form";    
}

.infobox {
    margin-right: 20px;
    height: auto;        
}

.infotitle {
    justify-content: start;
    width: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#contact-form {
    max-width: 400px;
}

.button {
    font-size: 30px;
}

/* Footer */

#contact-information {
    display: flex;
}

.contact2 {
    border-style: solid;
    border-width: 0 1px 0 0;
}

.contact {
width: 50%;
}
} 



/* @media screen and (min-width: 1024px) {
    
} */