

/* responosve design för 

360×640
1366×768
1920×1080
768×1024 */


@media screen and (min-width: 768px) {

    .title {
        font-size: 50px;
    }
    
    .text {
        border-width: 2px 0 2px 0;
        border-color: #C4C4C4;
        padding: 4px 15px 4px 15px;
        max-width: 100%;
        font-size: 24px;
    }
    
    /* Section2 */
    
    #boxes {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
        grid-template-rows: auto; 
        grid-template-areas: "left . right";
    }
    
    .textbox2 {
        border-width: 0 0 2px 0;
    }
    
    #spacebox {
        grid-area: left;
    }

    #spacebox2 {
        grid-area: right;
    }
    
/* section 3 */


#devider {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: auto; 
    grid-template-areas: "infobox . form"; 
    justify-content: center;    
}

.infobox {
    height: auto;        
}

.infotitle {
    width: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#contact-form {
    width: 100%;
    margin-top: 0;
}

.button {
    font-size: 30px;
}

/* Footer */

#contact-information {
    display: flex;
}

.contact2 {
    border-style: solid;
    border-width: 0 1px 0 0;
}

.contact {
    width: 50%;
}
} 



@media screen and (min-width: 1024px) {
    
#menu {
    display: none;
}

.section1 {
    grid-template-columns: 1fr 70px 1fr;
    grid-template-areas: "intro_text . image";
    align-items: center;
    padding: 70px;
}

/* .devider2 {
    padding-right: 70px; 
} */

.section2 {
    padding: 70px;
}

.section3 {
    padding: 70px;
}

.slogo {
    padding: 70px 5px 5px 5px;
    font-size: 50px;
}

.inputs {
    padding: 4px 70px 70px 70px;
}


.inputarea {
    padding: 40px 5px 5px 5px;
    width: 90%;
}

.inputarea::placeholder{
    font-size: 24px;
}

.button {
    margin: 70px 0 0 0; 
    padding: 10px 0 10px 0;
}
}